html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 75%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 25%;
  height: 100%;
}

/* 
*
*
PANEL CSS
*
*
*/

.Panel {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.info {
  position: fixed;
  background-color: #2b2b2b;
  color: rgb(24, 17, 17);
  height: 100%;
  width: 25%;
  right: 0;
}

.storypic {
  height: 25%;
  background-color: #9146ff;
}

.storypic img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.timer {
  color: white;
  font-weight: bold;
  background-color: rgb(59, 59, 59);
  height: 5%;
  font-size: 36px;
}

.story,
.selected,
.faded {
  font-size: 30px;
  list-style-type: none;
}

.story {
  color: #fff7f0;
  background-color: #c73226;
  border: 1px solid #820d00;
}

.selected {
  color: #230802;
  background-color: #c9ab3b;
  border: 1px solid #820d00;
}

.faded {
  color: #b3a5a3;
  background-color: #600c05;
  border: 1px solid #600c05;
}

/* 
*
*
DASHBOARD CSS 
*
*
*/

.Dashboard {
  width: 100%;
  height: 100%;
  color: #e0e0e0;
  background-color: #353535;
}

.SubmitForm {
  margin: auto;
  width: 75%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.title h1 {
  font-size: 4em;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: rgba(248, 248, 248, 0.705);
  outline: black;
  -webkit-text-stroke: 3px black;
}

.SubmitForm h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin: 0;
  font-weight: bold;
}

.start {
  margin: auto;
  width: 25%;
  padding-top: 50px;
}

.add {
  padding-top: 5px;
}

.Add {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  background-color: #131313;
  border: 1px solid white;
  color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  border: 0;
  width: 100%;
}

.Start,
.Playing {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  color: #2b2b2b;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.Start {
  background-color: #00ffea;
}

.Playing {
  background-color: #a00000;
}

/* END DASHBOARD CSS */
