html,
body,
#root {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 75%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 25%;
  height: 100%;
}

.Panel {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.Dashboard {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.info {
  position: fixed;
  background-color: rgb(105, 60, 0);
  color: rgb(24, 17, 17);
  height: 100%;
  width: 25%;
  right: 0;
}

.storypic {
  height: 25%;
  background-color: green;
}

.timer {
  color: white;
  font-weight: bold;
  background-color: rgb(59, 59, 59);
  height: 5%;
  font-size: 36px;
}

.story {
  color: white;
  background-color: orange;
  font-size: 30px;
  margin: 1px;
  border: 1px solid white;
  list-style-type: none;
}

.selected {
  color: black;
  background-color: gold;
  font-size: 30px;
  margin: 1px;
  border: 1px solid white;
  list-style-type: none;
}

.faded {
  color: white;
  background-color: rgb(78, 43, 0);
  font-size: 30px;
  margin: 1px;
  border: 1px solid white;
  list-style-type: none;
}
