html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 75%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 25%;
  height: 100%;
}

/* 
*
*
PANEL CSS
*
*
*/

.Panel {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

.info {
  position: fixed;
  background-color: #2b2b2b;
  color: rgb(24, 17, 17);
  height: 100%;
  width: 25%;
  right: 0;
}

.storypic {
  height: 25%;
  background-color: #2b2b2b;
}

.storypic img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.timer {
  position: relative;
  height: 5%;
  background-color: rgb(59, 59, 59);
}

.clock {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  right: 0;
  width: 50%;
  height: 100%;
}

.edit-buttons {
  background-color: rgb(247, 205, 129);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}

.button-wrap input[type="image"] {
  width: 25%;
  height: 100%;
  padding: 3px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: snow;
}

.button-wrap {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.remove {
  left: 0;
  width: 50%;
  height: 90%;
  position: absolute;
  text-align: center;
  margin: 3px;
}

.move {
  right: 0;
  width: 50%;
  height: 90%;
  position: absolute;
  text-align: center;
  margin: 3px;
}

.move input {
  margin-left: 5px;
}

.story,
.selected,
.faded,
.editable {
  font-size: 30px;
  list-style-type: none;
}

.story {
  color: #fff7f0;
  background-color: #c73226;
  border: 1px solid #820d00;
}

.selected {
  color: #230802;
  background-color: #c9ab3b;
  border: 1px solid #820d00;
}

.faded {
  color: #b3a5a3;
  background-color: #600c05;
  border: 1px solid #600c05;
}

.editable {
  color: limegreen;
  background-color: wheat;
  border: 1px solid #ffffff;
}

.seledit {
  color: powderblue;
  background-color: purple;
}

/* 
*
*
DASHBOARD CSS 
*
*
*/

.Dashboard {
  width: 100%;
  height: 100%;
  color: #e0e0e0;
  background-color: #353535;
}

.SubmitForm {
  margin: auto;
  width: 55%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.title h1 {
  font-size: 4em;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: rgba(248, 248, 248, 0.705);
  outline: black;
  -webkit-text-stroke: 3px black;
}

.SubmitForm h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin: 0;
  font-weight: bold;
}

.add {
  padding-top: 5px;
}

.Add {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  background-color: #131313;
  border: 1px solid white;
  color: #e0e0e0;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  border: 0;
  width: 100%;
}

.options {
  margin: auto;
  width: 50%;
  padding-top: 50px;
}

.options input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 5px;
  padding: 10px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  width: 31.9%;
  cursor: pointer;
}

.options input[disabled] {
  opacity: 0.2;
}

.Start {
  color: #2b2b2b;
  background-color: #00ff22;
}

.Playing {
  color: #2b2b2b;
  background-color: #a00000;
}

.Reset {
  color: #2b2b2b;
  background-color: #ffdb3b;
}

.Clear {
  color: #ffffff;
  background-color: #ff0000;
}

.file {
  margin: 0px 0px 5px 0px;
  width: 100%;
}

.error {
  font-size: 0.8rem;
  color: red;
}

/* END DASHBOARD CSS */

.clickable {
  cursor: pointer;
}

input[type="submit"]:disabled {
  cursor: default;
}

input[type="image"]:disabled {
  opacity: 0.5;
  cursor: default;
}
